// Global

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-size: 1.5rem;
}

button {
  font-family: 'Times New Roman', Times, serif;
  color: "#777777";
}

#__next {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.App {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: black;
}